<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="companyinfo">
            <h2><span><%= t "footer.text.name" %></span><%= t "footer.text.name1" %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="single-widget">
            <h2><%= t "footer.text.service" %></h2>
              <ul class="nav nav-pills nav-stacked">
                <li><%= link_to t("footer.text.help"), "#" %></li>
                <li><%= link_to t("footer.text.contact"), "#" %></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="pull-left"><%= t "footer.text.text1" %></p>
      </div>
    </div>
  </div>

</footer>
