<div class="col-sm-6">
  <div class="social-icons pull-right">
    <ul class="nav navbar-nav">
      <li><%= link_to "#" do %>
        <i class="fa fa-facebook"></i>
      <% end %>
      </li>
      <li><%= link_to "#" do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      </li>
      <li><%= link_to "#" do %>
        <i class="fa fa-linkedin"></i>
      <% end %>
      </li>
      <li><%= link_to "#" do %>
        <i class="fa fa-dribbble"></i>
      <% end %>
      </li>
      <li><%= link_to "#" do %>
        <i class="fa fa-google-plus"></i>
      <% end %>
      </li>
    </ul>
  </div>
</div>
